{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Password Change{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-xl col-lg col-md col-sm col-xs bg-white m m-sm border rounded px-4 pt-4 pb-3 shadow">
        <form method="post" action="">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-grid pt-4 gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}